.imagenCabecera{background-image:url(../img/Blue.png); height:70px; background-repeat:repeat-x;}
.imgTituloTabla{background-image:url(../img/GirsOscuro.png); background-repeat:repeat-x; height:30px;}
.imageninferiorCabecera{background-image:url(../img/gris.png); height:30px; background-repeat:repeat-x;}
.colocaTitulo{position:relative; top:15px; margin-left:15px;}
.letraTituloCabecera{font-family:"Trebuchet MS", "Eras Medium ITC"; color:#FFFFFF; font-size:36px;}
.dondeestoy{position:relative; left:15px; top:7px; font-family:"Trebuchet MS", "Eras Medium ITC"; color:#333333; font-size:12px;}
.letraCabeceraListado{
			font-family:"Trebuchet MS", "Eras Medium ITC"; 
			font-size:14px; 
			font-weight:500; 
			color:#666666;
			background-image:url(../img/grisClaro.png); background-repeat:repeat-x; height:30px;
			text-align:center;
}

.colorFila{color:#333333;
			 background-color:#E8E8E8; 
			 height:20px; 
			 font-family:"Trebuchet MS", "Eras Medium ITC";
			 font-size:12px; 
			 font-weight:300;
			 }

.colorCelda{color:#333333; background-image:url(../img/grisClaro2.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;}

.fiel2{background-color:#FFFFFF; border:#333333 1px double;}
a:hover{text-decoration:none; color:#333333;}
a {text-decoration:none; color:#333333;}
a:visited{text-decoration:none; color:#333333;}
a:link{text-decoration:none; color:#333333;}

.tituloTabla{color:#FFFFFF; font-family:"Trebuchet MS", "Eras Medium ITC"; font-size:14px; font-weight:600; position:relative; left:10px;}
.bordeTablaGris{border:#999999 1px solid; background-color:#F4F4F4;} 
.letraLogin{
			font-family:"Trebuchet MS", "Eras Medium ITC" ;
			font-size:12px; 
			font-weight:600; 
			color:#404040;
}
.inputTexto{font-family:"Trebuchet MS", "Eras Medium ITC"; font-size:12px; font-weight:400; color:#666666;}
.inputTexto1{font-family:"Trebuchet MS", "Eras Medium ITC"; font-size:12px; font-weight:400; color:red}

.inputTexto2{font-family:"Trebuchet MS", "Eras Medium ITC"; font-size:12px; font-weight:400; color:#666666; border-bottom:1px #666666 solid; border-left:0; border-right:0; border-top:0; background-color:#F4F4F4;}
.areaTexto{font-family:"Trebuchet MS", "Eras Medium ITC"; font-size:12px; font-weight:400; color:#666666; border:#666666 1px solid;
background-color:#F4F4F4;}







.margenSuperior{width:100%; 
				height:60px; 
				background-color: #20638E;
				background-image:url(../img/cabecera.png); background-repeat:no-repeat;
				}
.margenSuperiorAdm{width:100%; 
				height:60px; 
				background-color: #20638E;
				background-image:url(../img/cabeceraAdm.png); background-repeat:no-repeat;
				}

.margenMedio{width:100%;
			 height:30px;
			 background-color:#999999;
			
			 }
.margenInferior{width:100%; height:15px; background-color:#841524;}



.divCentrado{text-align:center;}

.divLogin{width:300px; height:200px; float:left;}

.inputLogin{text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:900; color:#666666;}





.letraLegend{
			font-family:Arial, Helvetica, sans-serif; 
			font-size:18px; 
			font-weight:900; 
			color:#333333;
			background-color:#FFFFFF;
}

.fiel{background-color:#CCCCCC; border:#333333 1px double;}

.titulo{color:#333333; font-size:24px; font-family:Arial, Helvetica, sans-serif;}

#volver{clear:left; height:5px;};
#datospers{margin-bottom:2em; margin-top:2em;}
#datosrojp{margin-bottom:2em; margin-top:2em;}
#datossan{margin-bottom:2em; margin-top:2em;}
#Cabecera{font-family:sans-serif;font-size:x-large; text-decoration:underline; height:1em; font-style:italic; color:black; margin-left:3em;  }
#abrir{background-color:Cornsilk;}
#a{font-family:sans-serif; font-size:16px; color:black}
#b{font-family:Arial, Helvetica, sans-serif; color:chocolate; font-size:15px}
#prueba{margin-bottom:1em;}
#div{margin-bottom:0.8em; margin-left:2em;}


/* informacion espectaculo */

#informacion{text-align:center; font-size: large;}
#titulos{font-weight: bold;}
#ficha{text-decoration: underline; font-size: x-large; margin-bottom: 1%; margin-top: 1%;}